.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    background-color: beige;
    box-shadow: 2px 1px 10px;
    max-width: 600px;
    padding: 50px 90px;
    padding-left: 40px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.form-pass {
    display: flex;
    align-items: flex-start;
    padding-right: 60px;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.pass-label {
    margin-bottom: 20px;
}

.pass-input {
    position: relative;
    font-size: 18px;
    padding: 18px 0px;
    padding-left: 15px;
    padding-right: 55px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
}

.pass-visibilty {
    width: 35px;
    top: -40px;
    right: -220px;
    /* right: 42%; */
    position: relative;
}